package ${package};

#foreach($import in $!{importList})
#if("$!{import}"!="")
import $!{import};
#end
#end

/**
 * ${className}
 *
 * User: ${user}
 * Date: ${today}


 */

public class ${className} implements I${objClassName}Service{



}